# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables / API keys
.env
.env.local
django_backend/.env

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db