# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env
.env.local

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db